<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>

<style>
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('https://st4.depositphotos.com/21389766/23112/i/450/depositphotos_231120542-stock-photo-cloud-server-cloud-sync-cloud.jpg');
        height: 100vh;
        background-size: cover;
        object-fit: cover;
        color: white;
    }

    .text h1 {
        font-size: 40px;
    }
</style>

<body>
    <div class="wrapper" <h1 class="text">Welcome to the server</h1>
    </div>
</body>

</html>